body {
  font-family: system-ui;
  color: black;
  text-align: center;
}

.main {
  background-color: rgb(248, 244, 244);
}

.title {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
}

.title p {
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
}

#img-div {
  float: center;
}

#image {
  min-height: 400px;
  min-width: 500px;
  float: center;
}

#tribute-info {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#tribute-info p {
  text-align: center;
  font: 20px Arial;
}

#tribute-info li {
  text-align: left;
}

.citation {
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

.final {
  font: 20px Arial;
}

.a {
  color: violet;
}
